name: Run Ansible Playbooks

on:
  # Trigger on push to main branch
  push:
    branches: [main]

env:
  ANSIBLE_HOST_KEY_CHECKING: False
  ANSIBLE_FORCE_COLOR: True

jobs:
  update-deployment:
    name: Deploy Cluster changes
    runs-on: ubuntu-latest
    timeout-minutes: 90

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6

      - name: Install Ansible and dependencies
        run: |
          pip install --upgrade pip
          pip install ansible ansible-core
          ansible-galaxy collection install community.docker ansible.posix community.general

      - name: Set up SSH key
        env:
          SSH_PRIVATE_KEY: ${{ secrets.HETZNER_BARE_METAL_GITHUB_ACTIONS_SSH_PRIVATE_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          # Add SSH agent configuration
          eval "$(ssh-agent -s)"
          ssh-add ~/.ssh/id_ed25519

      - name: Test Ansible connectivity
        run: |
          cd ansible
          ansible ${{ inputs.target_hosts || 'all' }} -m ping -v

      - name: Deploy Cluster
        run: |
          cd ansible
          ansible-playbook -i hosts.yml playbook/deploy-rolling.yml \
          -e host_env='{"BESZEL_AGENT_TOKEN": "${{ secrets.CLICKHOUSE_KEEPER_1_BESZEL_AGENT_TOKEN }}"}' --limit clickhouse-keeper-1 \
          -e host_env='{"BESZEL_AGENT_TOKEN": "${{ secrets.CLICKHOUSE_KEEPER_2_BESZEL_AGENT_TOKEN }}"}' --limit clickhouse-keeper-2 \
          -e host_env='{"BESZEL_AGENT_TOKEN": "${{ secrets.CLICKHOUSE_KEEPER_3_BESZEL_AGENT_TOKEN }}"}' --limit clickhouse-keeper-3 \
          -e host_env='{"BESZEL_AGENT_TOKEN": "${{ secrets.CLICKHOUSE_REPLICA_1_BESZEL_AGENT_TOKEN }}"}' --limit clickhouse-replica-1 \
          -e host_env='{"BESZEL_AGENT_TOKEN": "${{ secrets.CLICKHOUSE_REPLICA_2_BESZEL_AGENT_TOKEN }}"}' --limit clickhouse-replica-2
